:root {
  --clr-primary: #87abe3;
  --clr-secondary: #fcf7f4;
  --clr-gray: #E8E8E8;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary);
  font-family: 'Poppins', sans-serif;
  /* width: 100vw; */
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
}